      <div class="clearfix">
      <section class="page__info--left-col about slideInDown animated">
        
      </section>
      <section class="page__info--right-col about slideInUp animated">
        <div class="page__info--container section-container-wrapper" >
          <div class="section-container">
            <div class="section-header">
               <header>
                <figure class="portfolio--logo">
                  <h1>About Me</h1>
                </figure>
                <h2>A litte bit more about me </h2>
                <h3 class="small"> What do I do?</h3>
                <p></p>
              </header>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>