      <div class="back-to-project">
        <a href="#/cuzin"><i class="fa fa-long-arrow-left"></i></a>
      </div>

      <div class="clearfix">
      <section class="left-col page__info--left-col spot slideInDown animated">
        <label class="number">#2</label>
      </section>
      <section class="right-col page__info--right-col spot slideInUp animated">
        <div class=" page__info--container" >
          <div class=" portfolio">
              <header>
                <figure class="portfolio--logo">
                  <img src="images/projects/spot-logo.png" alt="">
                </figure>
                <h2>Spotspier is a web platform where travelers able to share and curate their travel experience. Latest technology such as AngularJS and Node are use to ensure the quality of the product. </h2>


 
                <ul class="cloud-tags unstyled">
                  <li>Angular</li>
                  <li>Grunt</li>
                  <li>HTML 5</li>
                  <li>CSS 3</li>
                  <li>Jquery</li>
                  <li>Bootstrap 3</li>
                  <li>Yeoman</li>
                  <li>SASS</li>
                  <li>Express</li>
                  <li>Responsive</li>
                </ul>
                <a href="#/withwine" class="btn">Next Project&nbsp;&nbsp;<i class="fa fa-long-arrow-right"></i></a>
              </header>
           </div>
          </div>
        </div>
      </div>
      </div>
      </section>